
* { margin: 0; padding: 0; }

:root {
  --bg: #181d27;
  --fg: #ffffff;

  --base-green: #44B78B;
  --light-green: #93D7B7;
  --dark-green: #0C4B33;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
}
